<html>

<head>
<title>Title</title>
</head>

<body>
<b>Beginning R: The Statistical Programming Language

by: Mark Gardener
</b>

Conquer the complexities of this open source statistical language

R is fast becoming the de facto standard for statistical computing and analysis in science, business, engineering, and related fields. This book examines this complex language using simple statistical examples, showing how R operates in a user–friendly context. Both students and workers in fields that require extensive statistical analysis will find this book helpful as they learn to use R for simple summary statistics, hypothesis testing, creating graphs, regression, and much more. It covers formula notation, complex statistics, manipulating data and extracting components, and rudimentary programming.

R, the open source statistical language increasingly used to handle statistics and produces publication–quality graphs, is notoriously complex
This book makes R easier to understand through the use of simple statistical examples, teaching the necessary elements in the context in which R is actually used
Covers getting started with R and using it for simple summary statistics, hypothesis testing, and graphs
Shows how to use R for formula notation, complex statistics, manipulating data, extracting components, and regression
Provides beginning programming instruction for those who want to write their own scripts
Beginning R offers anyone who needs to perform statistical analysis the information necessary to use R with confidence.

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
